body {
  padding: 0;
  margin: 0;
}

#board {
  background-image: url(../imgs/main-background.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#score-board {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 12vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#score-board div {
  color: white;
  font-size: 3vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  z-index: 1;
}
div#score-display {
  color: white;
  font-size: 10vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  z-index: 1;
}
div#warning-display {
  display: none;
  padding: 0;
  margin-top: 0.1vw;
  color: orangered;
  font-size: 3vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  z-index: 1;
}
#player {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
.item {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.122);
  background-color: rgba(229, 255, 0, 0.058);
}
.obs {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
/* pages */
/* gameover-page */
div#gameover-page {
  padding: 1vw;
  margin: 0.1vw;
  color: orangered;
  text-shadow: rgba(192, 154, 1, 0.617) 1px 0 10px;
  font-size: 5vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  z-index: 1;
}
a#replay {
  padding: 20px;
  margin: 10px;
  text-shadow: rgba(192, 154, 1, 0.617) 1px 0 10px;
}

/* gamestart-page */
#startpage {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0vh;
  width: 53vw;
  height: 43vw;
  background-image: url(../imgs/instructionboard.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#instruction-container {
  top: 13vh;
  height: 55vh;
  color: black;
  font-size: 2.5vh;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: absolute;
}
div#ready {
  font-size: 2vh;
  margin: 3vh 0 1.5vh 0;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: rgba(192, 154, 1, 0.617) 1px 0 10px;
}
div#game-name {
  color: black;
  font-size: 3.5vh;
  text-shadow: rgba(192, 154, 1, 0.617) 1px 0 10px;
  text-transform: uppercase;
  font-weight: bolder;
}
div#instruction {
  width: 31vw;
  height: 39vh;
  padding: 0;
  margin: 0.7vw 0.7vw 0 0.7vw;
  color: white;
  font-size: 1.7vh;
  line-height: 1.3;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  z-index: 1;
}
div#instruction h2 {
  margin-top: 0;
}
div#instruction ol {
  margin: 0 1.5vw 0 1.5vw;
  text-align: justify;
}
div#instruction span {
  color: orangered;
  text-shadow: rgba(0, 0, 0, 0.617) 1px 0 10px;
  font-weight: bolder;
}
div#play {
  margin: 0.5vw 0.5vw;
  background-color: rgba(240, 248, 255, 0.427);
  border: 1px, solid red;
  border-radius: 30px;
  line-height: 2em;
  width: 5em;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: rgba(244, 244, 244, 0.617) 1px 0 10px;
}
