body {
  padding: 0;
  margin: 0;
}
#board {
  background-image: url(../imgs/main-background-2.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#score-board {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span {
  color: white;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  /* position: absolute;
  top: 2.5vh;
  left: 1.7vw; */
  z-index: 1;
}
span#score-display {
  color: white;
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  /* position: absolute;
  top: 3vh;
  left: 3vw; */
  z-index: 1;
}
#player {
  /* background-image: url(../imgs/player.png); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
.items {
  /* background-image: url(../imgs/item2.png); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.122);
  background-color: rgba(229, 255, 0, 0.058);
}
